body {
}
    /*Set background image*/
    .sports

{
    background-image: url('./img/champabay3.webp');
    height: 25%;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 45%;
    padding: 20px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}